<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> High Seas v2</title>
    <%- include('./partials/head.ejs') -%>
    <!-- TODO: import tw and daisyui and catppuccin -->
     <!-- display stuff ;p -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">High seas v2</h1>
            <p class="py-6">
           Yet another high seas client...
            </p>
            <a  href="/shipyard" class="btn btn-primary">Shipyard</a>
            <a  href="/wonderdome" class="btn btn-primary">Wonderdome</a>
            <a  href="/better-wonderdome" class="btn btn-primary">Wonderdome (the other better one)</a>
            <a  href="/shop" class="btn btn-primary">Shop</a>
            <a  href="/embed-leaderboard" class="btn btn-primary">Leaderboard</a>
            <a  href="/shipment-viewer" class="btn btn-primary">Shipment viewer</a>
          </div>
        </div>
      </div>
</body>
</html>